body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.card {
  background: #020617;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px cyan;
}

input, button {
  width: 250px;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: cyan;
  border: none;
  font-weight: bold;
}
